{% extends 'base.html' %}
{% block content %}

<script src="../static/brews.js">
</script>



<h2>{{ recipe }}</h2>

<script>
   var brew_id = {{ brew.id }};
</script>

<table>
	<form action="/brew/{{ brew.id }}" method="post" id="{{ brew.id }}">
		<tr>
			<td valign="top">
				<p><div style="width: 90%; height: 10px; background-color: {{ color }}"></div></p>
				<p>Target color: <div style="width: 25px; height: 25px; background-color: {{ color }};"></div>
				</p>
					<div id="timergoodies" style="float: right">
							<div id="popUpDiv" style="border: solid gray; width: 210px; height: 100px; border-radius: 5px; padding: 5px; text-align: center;">
									<strong>Timer</strong>
									<p><input class="clock" id="clock" style="width: 180px;"> </p>
									<button type="button" class="stop form-control" style="display: inline; width: 80px">Pause</button>
									<button type="button" class="clos form-control" style="display: inline; width: 80px">Hide</button>
								</div>
							<button type="button" id="showtimer" class="form-control">Show timer</button>
					</div>
				Brew Date: <input type="date" name="brew_date" id="brew_date" class="form-control" style="width: 200px" value={{ brew.date }}>  					
					<a data-toggle="collapse" href="#steep-instructions" aria-expanded="false" aria-controls="collapseExample"<h3 style="display: inline">
						<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="display: none"></span>
					</a>
					<h2 style="display: inline">1. Steep</h2>
						<blockquote><div class="collapse in" id="steep-instructions">
						<p>Bring {{ batch_size }} {{ batch_units }} to 165&deg; F. </p>
						<p>Prepare the following grains for steeping:
							<ul>
							{% for grain in steep %}
								<li>{{ grain.name }} - {{ grain.amount }} oz</li>
							{% endfor %}
							</ul>
							</p>
						<p>Steep for <span class="timer" id="steep">30 minutes</span>.</p> 
						<button type="button" class="timer form-control" id="timer" style="width: 150px; display: inline;" value="30">Start a Timer</button>
					</div></blockquote>

					

				<a data-toggle="collapse" href="#boil-instructions" aria-expanded="false" aria-controls="collapseExample" style="display: inline"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a><h2 style="display: inline">2. Boil</h2> 
					<blockquote><div class="collapse in" id="boil-instructions">
						<p>Bring water to a boil. Turn off flame and add sugars:</p>
						{% if extracts %}<ul>
						{% for extract in extracts %}
							<li>{{ extract.amount }} {{ extract.units }} {{ extract.name }}</li>
						{% endfor %}
						</ul>
						{% else %}
							<p>&nbsp; -- There are no sugars for this recipe. -- </p>
						{% endif %}
						<p>Return to boil. Start boil time: <input id="boil_start" type="time" name-"boil_start" {% if brew.boil_start %}value="{{ brew.boil_start }}"{% endif %}></p>
						{% for time in times %}
						<p><strong>At {{ time }} minutes:</strong>
							{% for ingredient in boiltime[time] %}
							<p>{{ ingredient["amount"] }} {% if ingredient["units"] %}{{ ingredient["units"] }}{% endif %} {{ ingredient["name"] }}</p>
							{% endfor %}
							{% if timerset[time] > 0 %}
							<button type="button" class="timer form-control" id="timer" style="width: 150px; display: inline;" value="{{ timerset[time] }}">Start a Timer</button>
							{% endif %}
						</p>
						{% endfor %}
							
					</div></blockquote>
				<a data-toggle="collapse" href="#cool" aria-expanded="false" aria-controls="collapseExample" style="display: inline"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a><h2 style="display: inline">3. Cool</h2>
					<blockquote><div id="cool" class="collapse in">
					<p> Bring temperature down to 68&deg; to 70&deg; F. 
					</p>
					</blockquote>

				<a data-toggle="collapse" href="#transfer-instructions" aria-expanded="false" aria-controls="collapseExample"<h3 style="display: inline"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a><h2 style="display: inline">4. Primary</h2>
					<blockquote>
					<div id="transfer-instructions" class="collapse in">
						<p>Transfer to primary. </p>

						<p>Add yeast: 
						{% for item in yeast %} 
							{{ item.name }} {{ item.amount }} {{ item.units }} 
						{% endfor %}
						</p>
						<p><label for="orig_gravity">Original gravity:</label> <input type="text" step="0.01" name="orig_gravity" id="orig_gravity" class="form-control" style="width: 100px; display: inline" value="{% if brew.og %}{{ brew.og }}{% endif %}"></p>
						<p>Original gravity range for this style: {{ og_min }} - {{ og_max }}</p>
						<div>
							<p><label for="curr_gravity">Current gravity measurement:</label> <input type="float" name="curr_gravity" id="curr_gravity" class="form-control" style="width: 100px; display: inline"> Measured on: <input type="date" name="cg_date" id="cg_date">
							</p>

						</div>
						<p>
						<h3>Add a reminder</h3>
						<p><label for="c-days">Schedule the next gravity check in</label> <input type="number" name="c-days" id="c-days" class="form-control" style="width: 100px; display: inline"> days.
						<span class="addtocalendar atc-style-blue" id="g-days">
	        				<var class="atc_event">
				            <var class="atc_date_start" id="date_start"></var>
				            <var class="atc_date_end" id="date_end"></var>
				            <var class="atc_timezone">Pacific/Midway</var>
				            <var class="atc_title">Gravity Check</var>
				            <var class="atc_description">Check gravity for {{ recipe }}</var>
				            <var class="atc_location">At your brew</var>
					        </var>
					    </span>

						</p>
						<p><label for="reminder">Other next step:</label> <input type="text" name="reminder" id="reminder" class="form-control">
						Set reminder for <input type="number" name="weeks" id="r-days" class="form-control" style="width: 100px; display: inline"> days.</p>	
						<span class="addtocalendar atc-style-blue" id="cal-reminder">
        					<var class="atc_event">
				            <var class="atc_date_start" id="r_date_start"></var>
				            <var class="atc_date_end" id="r_date_end"></var>
				            <var class="atc_timezone">Pacific/Midway</var>
				            <var class="atc_title" id="cal_title"></var>
				            <var class="atc_description" id="cal_desc"></var>
				            <var class="atc_location">At your brew</var>
				        </var>
				    	</span>
					</div>
					</blockquote>
				<a data-toggle="collapse" href="#secondary-instructions" aria-expanded="false" aria-controls="collapseExample"<h3 style="display: inline"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a><h2 style="display: inline">5. Secondary</h2>
					<blockquote>
					<div id="secondary-instructions" class="collapse in">
					{% if secondary %}
					<p>Add:
						{% for item in secondary %}
							{{ item }}
						{% endfor %}
					{% else %}
					</p>
						<p>There are no secondary steps for this beer.</p>
					
					{% endif %}


					</div></blockquote>
			</div>
  			</div>
			</div>
					<p>
					<label for="finished">Date finished:</label> <input type="date" id="finished" name="finished" class="form-control" style="width: 200px; display: inline" value="{% if brew.end_date %}{{ brew.end_date }}{% endif %}">
					<label for="final_gravity">Final gravity:</label> <input type="text" id="final_gravity" name="final_gravity" class="form-control" style="width: 100px; display: inline" value="{% if brew.fg %}{{ brew.fg }}{% endif %}">
					ABV: <span id="abv">{% if brew.abv %}{{ brew.abv }}{% endif %}</span></p><br><br>
					

				<p><input type="submit" value="Save Brew" class="form-control"></p>
			</td>
			<td style="vertical-align: top">
				<br>
				<input type="submit" value="Save and Return Later" class="form-control">

				<h2>Recipe Notes:</h2>
				{% if notes %}{{ notes }}{% else %}There are no notes for this recipe.{% endif %}<br>
				<h2>My notes:</h2>
					<input type="textbox" name="brew_notes" id="brew_notes" style="width: 300px; height: 200px" value="{% if brew.notes %}{{ brew.notes }}{% endif %}">
				<h2>Results</h2>
					<input type="textbox" name="results_notes" id="results_notes" style="width: 300px; height: 200px" value="{% if brew.results_notes %}{{ brew.results_notes }}{% endif %}">
				<h2>Rating:</h2>
					<div id="rating" class="rating">
					    <span><input type="radio" name="rating" id="str5" value="1" {% if brew.rating == 1 %} checked {% endif %}><label for="str1"></label></span>
					    <span><input type="radio" name="rating" id="str4" value="2" {% if brew.rating == 2 %} checked {% endif %}><label for="str2"></label></span>
					    <span><input type="radio" name="rating" id="str3" value="3" {% if brew.rating == 3 %} checked {% endif %}><label for="str3"></label></span>
					    <span><input type="radio" name="rating" id="str2" value="4"{% if brew.rating == 4 %} checked {% endif %}><label for="str4"></label></span>
					    <span><input type="radio" name="rating" id="str1" value="5" {% if brew.rating == 5 %} checked {% endif %}><label for="str5"></label></span>
					</div>
			</td>
		</tr>
	</form>
</table>
{% endblock %}