{% extends 'base.html' %}
{% block content %}
<script src="/static/recipeform.js">
</script>
<div class="hidden">
		<div id="moregrains1" class="repeat-grain" name="graindiv">
		<br>
			<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Grain</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id="grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" required>
			<select id="grain_units" name="grain_units" class="form-control" style="width: 10%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<input type="button" id="del-grain" class="btn btn-del del-grain" value="Remove grain">
		</div>
			<div id="moreextract1" class="repeat-extract" name="extractdiv">
			<br>
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Extract</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" id="extract_amount" name="extract_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" required>
			<select id="extract_units" name="extract_units" class="form-control" style="width: 10%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
				<input type="button" id="del-extract" class="btn btn-del del-extract" value="Remove extract">
		</div>
			<div id="morehops1" class="repeat-hops">
			<br>
			<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Hops</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" id="hop_amount" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" required>
			<select id= "hop_units" name="hop-units" class="form-control" style="width: 10%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select id ="hop_phase" name="hop_phase" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" id="hop_time" name="hop_time" class="form-control" placeholder="time in boil" style="width: 20%; display: inline">
			<select id="hop_kind" name="hop_kind" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>purpose</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
				<input type="button" id= "del-hop" name="1" value="Remove hop" class="btn btn-del del-hop">
			</div>

		<div id="moremisc1" class="repeat-misc">
			<br>
			<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Special item</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" id="misc_amount" name="misc_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id=="misc-units" name="misc-units" class="form-control" style="width: 10%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select id="misc_phase" name="misc_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" id="misc_time" name="misc_time" class="form-control" placeholder="time in boil" style="width: 19%; display: inline" required>
				<input type="button" id= "del-misc" name="1" value="Remove special" class="btn btn-del del-misc">	
			</div>

		<div id="moreyeast1" class="repeat-yeast">
		<br>
			<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Yeast/Bacteria</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" style="width: 20%; display: inline" required>
			<select name="yeast-units" class="form-control" style="width: 10%; display: inline" >
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="yeast_phase" name="yeast_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
				<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="btn btn-del del-yeast">
			</div>
	</div>
<div class="row beercolor">
	<div class="col-sm-1 col-md-2">
	</div>
	<div class="col-sm-10 col-md-8 mainContent">
		<h2>Edit Recipe</h2>

		<div class="form-group">
		<form role="form">
		<table cellspacing="10px">
			<tr>
				<td colspan="2">
					<label for="name">Recipe name</label> - Change to your own fresh recipe name!
					<input type="text" id="name" name="name" class="name form-control" placeholder="{{ name }}">
				</td>
				<td colspan="2">
					<label for="source">Source</label>
					<input id="source" type="text" name="source" class="source form-control" value="{{ source }}">
				</td>
			<tr>
				<td colspan="3">
					<p><label for="style">Style</label>
					<select id="style" name="style" class="form-control" >
							<option value="{{ style }}"selected="selected">{{ style }}</option>
							{% for item in selectlist_styles %}
							<option value="{{ item }}">{{ item }}</option>
							{% endfor %}
					</select>
				</td>
				<td>
					<label for="share">Share this recipe?</label>
					<select id="share" name="share" class="form-control">
						<option value="yes">Yes</option>
						<option value="no">No</option>
						</select>
				</td>
			</tr> 
			<tr>
				<td colspan="4">
					<label for="batchsize">Batch Size: </label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<input type="number" id="batch_size" name="batch_size" class="form-control" value="{{ batch_size }}">
				</td>
				<td>
					<select id="units" name="units" class="form-control" >
					{% if batch_units == L %}
							<option value="gallons">gal</option>
							<option value="Liters" selected="selected">L</option>
					{% else %}
							<option value="gallons" selected="selected">gal</option>
							<option value="Liters">L</option>
					{% endif %}

					</select>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td colspan="4">
				<br>Grains:<br>
				{% for ferm in ferm_steps %}<br>
				<div id="moregrains1" class="repeat-grain" name="graindiv">
					<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline">
						<option value="{{ ferm.name }}">{{ ferm.name }}</option>
						{% for grain in grain_choice %}
						<option value="{{ grain }}">{{ grain }}</option>
						{% endfor %}
					</select>
					<input type="number" id="grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" value="{{ ferm.amount }}">
					<select id="grain_units" name="grain_units" class="form-control" style="width: 10%; display: inline">
					{% if ferm.units == g %}
							<option value="grams" selected="selected">g</option>
							<option value="ounces">L</option>
					{% else %}
							<option value="grams">g</option>
							<option value="kg">kg</option>
							<option value="ounces" selected="selected">oz</option>
					{% endif %}
					</select></label>
					<input type="button" id="del-grain" class="btn btn-del del-grain" value="Remove grain">
				</div>
				{% endfor %}

				<button type="button" id="add-grain" value="Add a grain" class="btn btn-add btn btn-add">Add a grain</button>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<br>Extracts:<br>
					{% for ext in ext_steps %}<br>
					<div id="moreextract1" class="repeat-extract">
					<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline">
						<option value="{{ ext.name }}">{{ ext.name }}</option>
						{% for extract in extract_choice %}
						<option value="{{ extract }}">{{ extract }}</option>
						{% endfor %}
					</select>
					<input type="number" name="extract_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" value="{{ ext.amount }}">
					<select name="extract-units" class="form-control" style="width: 10%; display: inline">
					{% if ext.units == g %}
							<option value="grams" selected="selected">g</option>
							<option value="ounces">L</option>
					{% else %}
							<option value="grams">g</option>
							<option value="ounces" selected="selected">oz</option>
					{% endif %}			</select>
					<input type="button" id="del-extract" value="Remove extract" class="btn btn-del del-extract">
					</div>
					{% endfor %}
					<button type="button" id="add-extract" value="Add extract" class="btn btn-add add-extract">Add extract</button>	
					<br>
					<div><button type="button" id="colorcalc" class="btn btn-warning" >Estimate color</button><div id="color" style="width: 100%; height: 25px">&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<br>Hops:
					{% for h in hop_steps %}<br>
					<div id="morehops1" class="repeat-hops">
					<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline">
						<option value="{{ h.name }}">{{ h.name }}</option>
						{% for hop in hop_choice %}
						<option value="{{ hop }}">{{ hop }}</option>
						{% endfor %}
					</select>
					<input type="number" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" value="{{ h.amount }}">
					<select name="hop-units" class="form-control" style="width: 10%; display: inline">
						<option value={{ h.units }}>{{ h.units }}</option>
						<option value="grams">g</option>
						<option value="ounces">oz</option>
					</select><br>
					<select name="hop_phase" class="form-control" style="width: 40%; display: inline">
						<option value={{ h.phase }}>{{ h.phase }}</option>
						<option value="boil">boil</option>
						<option value="dry_hop">dry_hop</option>
					</select>
					<input type="number" name="hop_time" class="form-control" placeholder="time in boil" style="width: 20%; display: inline" value="{{ h.time }}">
					<select name="hop_kind" class="form-control" style="width: 20%; display: inline">
						<option value={{ h.kind }}>{{ h.kind }}</option>
						<option value="aroma">aroma</option>
						<option value="bittering">bittering</option>
						<option value="both">both</option>
					</select>
					<input type="button" id= "del-hop" name="1" value="Remove hop" class="btn btn-del del-hop">

					</div>
					{% endfor %}
					<button type="button" id="add-hop" value="Add a hop" class="btn btn-add add-hop">Add hops</button>
				</td>
			</tr>
			<tr>
				<td colspan="4"><br>Special Additions:<br>
				{% if misc_steps %}
				{% for m in misc_steps %}<br>
					<div id="morespecial1" class="repeat-special">
					<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline">
						<option value="{{ m.name }}">{{ m.name }}</option>
						{% for misc in misc_choice %}
						<option value="{{ misc }}">{{ misc }}</option>
						{% endfor %}
					</select>
					<input type="number" name="misc_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" value="{{ m.amount}}">
					<input type="text" name="misc-units" class="form-control" style="width: 10%; display: inline" value="{{ m.value }}" placeholder="units"><br>
					<select name="misc_phase" class="form-control" style="width: 20%; display: inline">
						<option value="{{ m.phase }}">phase</option>
						<option value="boil">boil</option>
						<option value="primary">primary</option>
						<option value="secondary">secondary</option>
					</select>
					<input type="number" name="misc_time" class="form-control" placeholder="time in boil" style="width: 19%; display: inline" value="{{ m.time }}">
					<input type="button" id= "del-misc" name="1" value="Remove special" class="btn btn-del del-misc">
					</div>
				{% endfor %}
				{% endif %}
					<button type="button" id="add-misc" value="Add misc" class="add-misc btn btn-add">Add special</button>

				
				</td>
			</tr>			
			<tr>
				<td colspan="4"><br>Yeasts/Bacteria:<br>	
				{% for y in yeast_steps %}<br>
					<div id="moreyeast1" class="repeat-yeast">
					<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline">
						<option value="{{ y.name }}">{{ y.name }}</option>
						{% for yeast in yeast_choice %}
						<option value="{{ yeast }}">{{ yeast }}</option>
						{% endfor %}
					</select>
					<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" style="width: 20%; display: inline" value="{{ y.amount }}">
					<select name="yeast-units" class="form-control" style="width: 10%; display: inline" >
					{% if y.units == g %}
							<option value="grams" selected="selected">g</option>
							<option value="ounces">L</option>
					{% else %}
							<option value="grams">g</option>
							<option value="ounces" selected="selected">oz</option>
					{% endif %}			</select>
					</select>
					{% if y.phase == primary %}
					<select id="yeast_phase" name="yeast_phase" class="form-control" style="width: 20%; display: inline" required>
						<option value="primary" selected="selected">primary</option>
						<option value="secondary">secondary</option>
					{% else %}
						<option value="primary">primary</option>
						<option value="secondary" selected="selected">secondary</option>
					{% endif %}
					</select>		
					<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="del-yeast btn btn-del">
					</div>
				{% endfor %}
					<button type="button" id="add-yeast" value="Add a yeast" class="add-yeast btn btn-add">Add yeast</button>

				</td>
			</tr>


			<tr>
				<td colspan="4"><br>
				<label for="notes">Notes/Instructions:</label><br>
				<p><textarea id="notes" name="textarea" rows="10" cols="50" value="{{ notes }}"></textarea></p>
				</td>
			</tr>
			<tr colspan="4">
				<td><p><button type="button" value="submit" id="submit" class="btn btn-warning" style="width: 50%">Submit</button></p>
				</td>
			</tr>
			</table>

				



{% endblock %}