{% extends 'base.html' %}
{% block content %}
<script src="../static/recipeform.js">
</script>
<div class="hidden">
		<div id="moregrains1" class="repeat-grain" name="graindiv">
			<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Grain</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id = "grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="grain_units" name="grain_units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<input type="button" id="del-grain" class="form-control del-grain" value="Remove grain" style="width: 15%; display: inline" required>
		</div>
			<div id="moreextract1" class="repeat-extract" name="extractdiv">
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Extract</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" id="extract_amount" name="extract_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="extract_units" name="extract_units" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
				<input type="button" id="del-extract" value="Remove extract" class="form-control del-extract" style="width: 15%; display: inline" required>
			</div>

			<div id="morehops1" class="repeat-hops">
			<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Hops</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" id="hop_amount" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" required>
			<select id= "hop_units" name="hop-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select id ="hop_phase" name="hop_phase" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" id="hop_time" name="hop_time" class="form-control" placeholder="time in boil" style="width: 20%; display: inline">
			<select id="hop_kind" name="hop_kind" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>purpose</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
				<input type="button" id= "del-hop" name="1" value="Remove hop" class="form-control del-hop" style="width: 15%; display: inline">
			</div>

		<div id="moremisc1" class="repeat-misc">
			<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Special item</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" id="misc_amount" name="misc_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id=="misc-units" name="misc-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="misc_phase" name="misc_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" id="misc_time" name="misc_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline" required>
				<input type="button" id= "del-misc" name="1" value="Remove special" class="form-control del-misc" style="width: 15%; display: inline">	
			</div>

		<div id="moreyeast1" class="repeat-yeast">
			<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Yeast/Bacteria</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" style="width: 20%; display: inline" required>
			<select name="yeast-units" class="form-control" style="width: 20%; display: inline" >
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="yeast_phase" name="yeast_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
				<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="form-control del-yeast" style="width: 15%; display: inline" required>
			</div>
	</div>

<h2>Edit Recipe</h2>

<div class="form-group">
<form role="form">
<table cellspacing="10px">
	<tr>
		<td colspan="2">
			Recipe name - Change to your own fresh recipe name!
			<div id="recipename"><input type="text" id="name" name="name" class="name form-control" placeholder="{{ name }}"></div>
		</td>
		<td colspan="2">
			Source
			<div id="source"><input type="text" name="source" class="source form-control" value="{{ source }}"></div>
		</td>
	<tr>
		<td colspan="3">
			<p>Style
			<div id="style"><select name="style" class="form-control" >
					<option value="{{ style }}"selected="selected">{{ style }}</option>
					{% for item in selectlist_styles %}
					<option value="{{ item }}">{{ item }}</option>
					{% endfor %}
			</select></div>
		</td>
		<td>
			Share this recipe?
			<div id="share"><select name="share" class="form-control">
				<option value="yes">Yes</option>
				<option value="no">No</option>
				</select></div>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			Batch Size: 
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<div id="batch_size"><input type="number" name="batch_size" class="form-control" value="{{ batch_size }}"></div>
		</td>
		<td>
			<div id="units"><select name="units" class="form-control" >
			{% if batch_units == g %}
					<option value="grams" selected="selected">g</option>
					<option value="ounces">L</option>
			{% else %}
					<option value="grams">g</option>
					<option value="liters" selected="selected">L</option>
			{% endif %}

			</select></div>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="4">
		<br>Grains:<br>
		{% for ferm in ferm_steps %}
		<div id="moregrains1" class="repeat-grain" name="graindiv">
			<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline">
				<option value="{{ ferm.name }}">{{ ferm.name }}</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id="grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" value={{ ferm.amount }}>
			<select id="grain_units" name="grain_units" class="form-control" style="width: 20%; display: inline">
			{% if ferm.units == g %}
					<option value="grams" selected="selected">g</option>
					<option value="ounces">L</option>
			{% else %}
					<option value="grams">g</option>
					<option value="ounces" selected="selected">oz</option>
			{% endif %}
			</select>
			<input type="button" id="del-grain" class="form-control del-grain" value="Remove grain" style="width: 15%; display: inline">
		</div>
		{% endfor %}
		<button type="button" id="add-grain" value="Add a grain" class="form-control" style="width: 20%">Add a grain</button>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Extracts:<br>
			{% for ext in ext_steps %}
			<div id="moreextract1" class="repeat-extract">
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline">
				<option value="{{ ext.name }}">{{ ext.name }}</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" name="extract_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" value="{{ ext.amount }}">
			<select name="extract-units" class="form-control" style="width: 20%; display: inline">
			{% if ext.units == g %}
					<option value="grams" selected="selected">g</option>
					<option value="ounces">L</option>
			{% else %}
					<option value="grams">g</option>
					<option value="ounces" selected="selected">oz</option>
			{% endif %}			</select>
			<input type="button" id="del-extract" value="Remove extract" class="form-control del-extract" style="width: 150px; display: inline">
			</div>
			{% endfor %}
			<button type="button" id="add-extract" value="Add extract" class="form-control" style="width: 20%">Add extract</button>	
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Hops:<br>
			{% for h in hop_steps %}
			<div id="morehops1" class="repeat-hops">
			<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline">
				<option value={{ h.name }}>{{ h.name }}</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" value="{{ h.amount }}">
			<select name="hop-units" class="form-control" style="width: 20%; display: inline">
				<option value={{ h.units }}>{{ h.units }}</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select name="hop_phase" class="form-control" style="width: 40%; display: inline">
				<option value={{ h.phase }}>{{ h.phase }}</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" name="hop_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline" value="{{ h.time }}">
			<select name="hop_kind" class="form-control" style="width: 20%; display: inline">
				<option value={{ h.kind }}>{{ h.kind }}</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
			<input type="button" id= "del-hop" name="1" value="Remove hop" class="form-control del-hop" style="width: 15%; display: inline">

			</div>
			{% endfor %}
			<button type="button" id="add-hop" value="Add a hop" class="form-control" style="width: 20%">Add hops</button>
		</td>
	</tr>
	<tr>
		<td colspan="4"><br>Special Additions:<br>
		{% if misc_steps %}
		{% for m in misc_steps %}
			<div id="morespecial1" class="repeat-special">
			<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline">
				<option value={{ m.name }}>{{ m.name }}</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" name="misc_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" value="{{ m.amount}}">
			<input type="text" name="misc-units" class="form-control" style="width: 20%; display: inline" value="{{ m.value }}" placeholder="units">
			<select name="misc_phase" class="form-control" style="width: 20%; display: inline">
				<option value="{{ m.phase }}">phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" name="misc_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline" value="{{ m.time }}">
			<input type="button" id= "del-misc" name="1" value="Remove special" class="form-control del-misc" style="width: 150px; display: inline">	
			</div>
		{% endfor %}
		{% endif %}
			<button type="button" id="add-misc" value="Add misc" class="form-control" style="width: 20%">Add special</button>

		
		</td>
	</tr>			
	<tr>
		<td colspan="4"><br>Yeasts/Bacteria:<br>	
		{% for y in yeast_steps %}	
			<div id="moreyeast1" class="repeat-yeast">
			<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline">
				<option value="{{ y.name }}">{{ y.name }}</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" style="width: 20%; display: inline" value="{{ y.amount }}">
			<select name="yeast-units" class="form-control" style="width: 20%; display: inline" >
			{% if y.units == g %}
					<option value="grams" selected="selected">g</option>
					<option value="ounces">L</option>
			{% else %}
					<option value="grams">g</option>
					<option value="ounces" selected="selected">oz</option>
			{% endif %}			</select>
			</select>
			<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="form-control del-yeast" style="width: 15%; display: inline">
			</div>
		{% endfor %}
			<button type="button" id="add-yeast" value="Add a yeast" class="form-control" style="width: 20%">Add yeast</button>

		</td>
	</tr>


	<tr>
		<td colspan="4"><br>
		Notes/Instructions:<br>
		<p><div id="notes"><textarea name="textarea" rows="10" cols="50" value="{{ notes }}"></textarea></div></p>
		</td>
	</tr>
	<tr colspan="4">
		<td><p><button type="button" value="submit" id="submit" class="form-control" >Submit</button></p>
		</td>
	</tr>
	</table>

				



{% endblock %}