{% extends 'base.html' %}
{% block content %}
<h2>Explore</h2>
<table>
	<tr>
		<td>
			<form action="/explore" method="POST">
				<p>Search by:</p>
				<div>
					Beer Styles: <select name="style" id="style_list" class="form-control">
						<option selected disabled>Select a style</option>
						{% for style in selectlist_styles %}
						<option value="{{ style }}">{{ style }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="submit">
				</div>
			</form>
			<form action="/explore" method="POST">

				<div>
					Recipe Name: <select name="recipe" class="form-control">
						<option selected disabled>Select a recipe</option>
						{% for recipe in selectlist_recipes %}
						<option value="{{ recipe }}">{{ recipe }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="submit">
				</div>
			</form>

		</td>
		<td>
		{% if list_recipes %}
			<h3>Recipes</h3>
			<ul>
			{% for recipe in list_recipes %}
				<li><a href="/recipe/{{ recipe }}">{{ recipe }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if name %}
			<h4><a href="/recipe/{{ name }}">{{ name }}</a></h4>
		{% endif %}
		{% if names %}
			{% for name in names %}
			<h4><a href="/recipe/{{ name }}">{{ name }}</a></h4>
			{% endfor %}
		{% endif %}

		</td>
	</tr>



{% endblock %}