{% extends 'base.html' %}
{% block content %}
<script src="/static/recipe.js"></script>
<h2>Explore</h2>
<hr>
<div class="row">
		<div class="col-sm-12 col-md-6">
			<form action="/explore" method="POST">
				<p>Search by:</p>
				<div>
					<label for="beerstyles">Beer Styles:</label> <select id="style" name="style" class="form-control">
						<option selected disabled>Select a style</option>
						{% for style in selectlist_styles %}
						<option value="{{ style }}">{{ style }}</option>
						{% endfor %}
					</select>
				</div>
			</form>
			<form action="/explore" method="POST">

				<div>
					<label for="recipename">Recipe Name:</label> <select id="recipe" name="recipe" class="form-control">
						<option selected disabled>Select a recipe</option>
						{% for recipe in selectlist_recipes %}
						<option value="{{ recipe }}">{{ recipe }}</option>
						{% endfor %}
					</select>
				</div>
			</form>
			{% if session %}<a href="/myrecipes"><button type="button" id="myrecipes" class="form-control">Show my recipes</button></a>{% endif %}

		</div>
		<div class="col-sm-12 col-md-6">
		{% if new %}
		<br><br>
			<p>Select a recipe or a style of beer. </p>
		{% endif %}



		{% if list_recipes == [] %}
		<br><br>
			<p>Sorry, we don't have any recipes in that style yet.</p>
		{% else %}

				{% if recipes  or list_recipes %}
				<h3>Recipes</h3>

					<ul>
					{% for myrecipe in recipes %}
						<li><a href="/recipe/{{ myrecipe }}">{{ myrecipe }}</a></li><br>
					{% endfor %}
					</ul>
				{% endif %}
					<ul>
					{% for recipe in list_recipes %}
						<li><a href="/recipe/{{ recipe }}">{{ recipe }}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if name %}
					<div>
					<h3>{{ name }}</h3> <input type="button" id="makerecipe" name="{{ name }}" value="Brew this now!">
						<form action="/editrecipe/{{ name }}">
						<input type="submit" name="editrecipe" value="Make a Version">
						</form>
						{% if deleteable %}<a href="/deleterecipe/{{ name }}"><input type="button" id="deleterecipe" value="Delete this Recipe"></a>{% endif %}
					<p><div style="width: 100%; height: 10px; background-color: {{ color }}"></div></p>
					<h4>Style:</h4> {{ style }}<br>
					{% if source %}
						<h4>Source:</h4> {{ source }}<br>
					{% endif %}
					<h4 style="display: inline">Color: </h4><div style="display: inline; width: 50px; height: 20px; background-color: {{ color }}">&nbsp; &nbsp;</div>
					<h4>Batch size:</h4> {{ batch_size }} gallons<br>
					<h4>Steep:</h4>
					{% for ferm in ferm_steps %}
							<strong>{{ ferm.name }}</strong>
							Amount: {{ ferm.amount }} oz<br>
					{% endfor %}

					<h4>Boil:</h4>
					<p><strong>Sugars:</strong><br>
					{% for ext in ext_steps %}
							{{ ext.name }}
							Amount: {{ ext.amount }}<br>
					{% endfor %}</p>

					{% endif %}
					{% for hop in hop_steps %}
						{% if hop.phase == "Boil" %}
						<p>
							<strong>{{ hop.name }}</strong><br>
							Form: {{ hop.form }}<br>
							Amount: {{ hop.amount }} oz<br>
							Type: {{ hop.kind }}<br>
							Time: {{ hop.time }}<br>
						</p>
						{% endif %}
					{% endfor %}
					<p>{% if misc_steps%}
						{% for misc in misc_steps %}
							{% if misc.phase == "Boil" %}
							<strong>{{ misc.name }}</strong><br>
							Amount: {{misc.amount }}<br>
							Type: {{ misc.kind }}<br>
							Time: {{ misc.time }}<br>
							{% endif %}
						{% endfor %}
					</p>
					<h4>Yeast:</h4>
					{% for yeast in yeast_steps %}
						<strong>{{ yeast.name }}</strong><br>
						Amount: {{ yeast.amount }}<br>
						{{ yeast.form }}<br>
						{{ yeast.kind }}<br>
					{% endfor %}
					<h4>Notes</h4>
					{{ notes }}
					</div>
				{% endif %}


		</div>
</div>



{% endblock %}