{% extends 'base.html' %}
{% block content %}
<div class="row" style="background-color: white;">
<div class="col-1">
</div>
<div class="col-10 maincontent">
<h2>Log In</h2>
			    {% with messages = get_flashed_messages() %}
		            {% if messages %}
		                <div class="flashes">
		                {% for message in messages %}
		                    {{ message }} <br>
		                {% endfor %}
		                </div>

		            {% endif %}
	        	{% endwith %}
<table>
	<tr>
		<td>
			<form action="/login" method="POST">
				<p>
					Username: <input type="text" name="username" id="username">
				</p>
				<p>
					Password: <input type="password" name="password" id="password">
				</p>
				<p>
					<input type="submit" value="submit">
				</p>
			</form>
		</td>
	</tr>
	<tr>
		<td>					


		</td>
	</tr>

</table>
</div>
<div class="col-1">
</div>

{% endblock %}