{% extends 'base.html' %}
{% block content %}
<div class="grain">
	<div class="row">
		<div class="col-sm-1 col-md-2">
		</div>
		<div class="col-sm-10 col-md-8" style="background-color: white">
			<div>
							{% with messages = get_flashed_messages() %}
									{% if messages %}
											<div class="flashes">
											{% for message in messages %}
													{{ message }} <br>
											{% endfor %}
											</div>
									{% endif %}
							{% endwith %}
				</div>
		<h2>My Brews</h2>
		<hr>
		</div>
		<div class="col-sm-1 col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1 col-md-2">
		</div>
		<div class="col-sm-10 col-md-8 maincontent">
			{% if brewlist == [] %}
			<table width="80%" style="display: hidden">
				<tr>
					<td>
						 <div>
							<p>You haven't added any brews yet! Get started:</p>
							<a href="/explore"><button type="button" name="Browse recipes">Browse Recipes</button></a>
					</td>
				</tr>
			</table>
			{% endif %}
			{% if brewlist != [] %}
			<table width="95%">
				<tr>
					<td>
						<form action="/mybrews" method="POST">
							<p>Search by:</p>
							<p>
								<label for="beerstyles">Beer Styles:</label> <select id="style" name="style" class="form-control">
									<option selected disabled>Search by Style</option>
									{% for style in sel_user_styles %}
									<option value="{{ style }}">{{ style }}</option>
									{% endfor %}
								</select>
							</p>

						</form>
						<form action="/mybrews" method="POST">
							<div>
								<label for="myrecipes">My recipes:</label> <select id="recipe" name="recipe" class="form-control">
									<option selected disabled>Select a recipe</option>
									{% for recipe in selectlist_user %}
									<option value="{{ recipe }}">{{ recipe }}</option>
									{% endfor %}
								</select>
							</div>
						</form>

						<p><a class="btn btn-warning" role="button" href="/mybrews">Reset</a></p>
						<ul class="nav nav-tabs nav-justified">
							<li><button type="button" id="completed" class="form-control" style="display: inline;" value="Completed">Completed</button></li>
							<li><button type="button" id="inprogress" class="form-control" value="InProgress" style="display: inline;" >In Progress</button></li>
							<li><button type="button" id="showall" class="form-control" value="ShowAll" style="display: inline; ">Show All</button></li>
							</p>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						{% if filtered %}
						<h4>{{ filtered }}</h4>
						{% endif %}
						{% for brew in brewlist %}
						<div class="{% if brew.finished %}completed{% else %}inprogress{% endif %}">
							<table class="table">
							<tr>
								<td rowspan="5" style="width: 5px; background-color: {{ brew.color }};"></td>
								<td width="200px">{{ brew.name }}</td>
								<td width="160px">Brewed:<br>{{ brew.date }}</td>
								<td>{% if brew.finished %}
									Completed: <br>{{ brew.finished }}
									{% else %}
									In Progress
									{% endif %}
								</td>
								<td><a class="btn btn-default" role="button" href="/brew/{{ brew.id }}">Edit</a><a class="btn btn-default" role="button" href="/delete_brew/{{ brew.id }}">Delete this brew</a>
							</td>
							</tr>
							<tr>
								<td>Notes: <br></td>
								<td colspan="3">{{ brew.notes }}</td>
							</tr>
							<tr>
								<td>Results notes:</td>
								<td colspan="3">{{ brew.results_notes }}<br></td>
							</tr>
							<tr>
								<td>Original gravity: {% if brew.og %}{{ brew.og }}{% endif %}</td>
								<td>Final gravity:{% if brew.fg %}{{ brew.fg }}{% endif %}</td>
								<td>ABV: {% if brew.abv %}{{ brew.abv }}{% endif %}</td>
								<td></td>

							</tr>
							<tr>
								<td>Rating: <span class="rating{{ brew.rating }}" value="{{ brew.rating }}"></span></td>
								<td  colspan="3">Color: <span style="background-color: {{ brew.color }}";>&nbsp;&nbsp;&nbsp;</span>
								</td>
							</tr>
						</table>
					</div>
						{% endfor %}
				</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-1 col-md-2">
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script>
	$(document).ready(function() {
	$("#style").change(function(){
		console.log("style change")
		this.form.submit();
	});

	$("#recipe").change(function(){
		console.log("recipe change")
		this.form.submit();
	});
	$("#inprogress").click(function(){
		$(".completed").hide();
		$(".inprogress").show();
	});
	$("#completed").click(function(){
		$(".inprogress").hide();
		$(".completed").show();
	});
	$("#showall").click(function(){
		$(".inprogress").show();
		$(".completed").show();
	})
		beerColor = $(".beercolor").attr("#id")
		$(".beerColor").css('background-color', beerColor)
		});
</script>
{% endblock %}
