{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function() {
$("#style").change(function(){
	console.log("style change")
	this.form.submit();
});

$("#recipe").change(function(){
	console.log("recipe change")
	this.form.submit();
});
$("#inprogress").click(function(){
	$(".completed").hide();
	$(".inprogress").show()
});
$("#completed").click(function(){
	$(".inprogress").hide();
	$(".completed").show();
});
$("#showall").click(function(){
	$(".inprogress").show();
	$(".completed").show();
})
});
</script>
<h2>My Brews</h2>
<hr>
{% if brewlist == [] %}
<table width="80%" style="display: hidden">
	<tr>
		<td>
			 <div>
			 	<p>You haven't added any brews yet! Get started:</p>
			 	<a href="/explore"><button type="button" name="Browse recipes">Browse Recipes</button></a>
		</td>
	</tr>
</table>
{% endif %}
{% if brewlist != [] %}
<table width="80%">
	<tr>
		<td>
			<form action="/mybrews" method="POST">
				<p>Search by:</p>
				<p>
					<label for="beerstyles">Beer Styles:</label> <select id="style" name="style" class="form-control">
						<option selected disabled>Search by Style</option>
						{% for style in sel_user_styles %}
						<option value="{{ style }}">{{ style }}</option>
						{% endfor %}
					</select>
				</p>

			</form>
			<form action="/mybrews" method="POST">
				<div>
					<label for="myrecipes">My recipes:</label> <select id="recipe" name="recipe" class="form-control">
						<option selected disabled>Select a recipe</option>
						{% for recipe in selectlist_user %}
						<option value="{{ recipe }}">{{ recipe }}</option>
						{% endfor %}
					</select>
				</div>
			</form>
			<a href="/mybrews"><button type="button" id="reset">Reset</button></a>
			<p>Show only brews that are: <button type="button" id="completed" class="form-control" style="display: inline; width: 200px" value="Completed">Completed</button>
			<button type="button" id="inprogress" class="form-control" value="InProgress" style="display: inline; width: 200px" >In Progress</button>
			<button type="button" id="showall" class="form-control" value="ShowAll" style="display: inline; width: 200px">Show All</button>
		</td>
	</tr>
	<tr>
		<td>
			{% if filtered %}
			<h4>{{ filtered }}</h4>
			{% endif %}
			{% for brew in brewlist %}
			<div class="{% if brew.finished %}complete{% else %}inprogress{% endif %}">
			<table class="table">
			<tr>
				<td>{{ brew.name }}</td>
				<td>{{ brew.date }}</td>
				<td>{% if brew.finished %}
					Completed: {{ brew.finished }}
					{% else %}
					In Progress
					{% endif %}
				</td>
				<td><a href="/brew/{{ brew.id }}"><button type="button" name="brew">Edit</button></a><a href="/delete_brew/{{ brew.id }}"><button type="button" name="delete_brew">Delete this brew</button></a>
			</td>
			</tr>
			<tr>
				<td>Notes: <br></td>
				<td colspan="3">{{ brew.notes }}</td>
			</tr>
			<tr>
				<td>Results notes:</td>
				<td colspan="3">{{ brew.results_notes }}<br></td>
			</tr>
			<tr>
				<td>Original gravity: {{ og }}</td>
				<td>Final gravity: {{ fg }}</td>
				<td>ABV: {{ abv }}</td>
				<td></td>

			</tr>
			<tr>
				<td colspan="4">Rating: {{ brew.rating }}
				</td>
			</tr>
		</table>
		</div>
			{% endfor %}
	</td>
	</tr>
</table>

{% endif %}
{% endblock %}


