<h4>

		<ul class="nav nav-tabs nav-justified">
			<li><a href="/" style="color: black; font-size: 18pt">Home</a></li>
			<li><a href="/explore" style="color: black; font-size: 18pt">Explore Brews</a></li>
			<li {% if not session["user_id"] %} class="disabled"{% endif %}><a href="/mybrews" style="color: black; font-size: 18pt">My Brews</a></li>
			<li {% if not session["user_id"] %} class="disabled"{% endif %}><a href="/addrecipe" style="color: black; font-size: 18pt">Add a Recipe</a></li>
		</ul>
</h4>
