{% extends 'base.html' %}
{% block content %}
<script src="/static/recipeform.js">
</script>
	<div class="hidden">
		<div id="moregrains1" class="repeat-grain" name="graindiv">
			<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Grain</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id = "grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="grain_units" name="grain_units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<input type="button" id="del-grain" class="form-control del-grain" value="Remove grain" style="width: 15%; display: inline" required>
		</div>
			<div id="moreextract1" class="repeat-extract" name="extractdiv">
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Extract</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" id="extract_amount" name="extract_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="extract_units" name="extract_units" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
				<input type="button" id="del-extract" value="Remove extract" class="form-control del-extract" style="width: 15%; display: inline" required>
			</div>

			<div id="morehops1" class="repeat-hops">
			<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Hops</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" id="hop_amount" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" required>
			<select id= "hop_units" name="hop-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select id ="hop_phase" name="hop_phase" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" id="hop_time" name="hop_time" class="form-control" placeholder="time in boil" style="width: 20%; display: inline">
			<select id="hop_kind" name="hop_kind" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>purpose</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
				<input type="button" id= "del-hop" name="1" value="Remove hop" class="form-control del-hop" style="width: 15%; display: inline">
			</div>

		<div id="moremisc1" class="repeat-misc">
			<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Special item</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" id="misc_amount" name="misc_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id=="misc-units" name="misc-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="misc_phase" name="misc_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" id="misc_time" name="misc_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline" required>
				<input type="button" id= "del-misc" name="1" value="Remove special" class="form-control del-misc" style="width: 15%; display: inline">	
			</div>

		<div id="moreyeast1" class="repeat-yeast">
			<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Yeast/Bacteria</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" style="width: 20%; display: inline" required>
			<select name="yeast-units" class="form-control" style="width: 20%; display: inline" >
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="yeast_phase" name="yeast_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
				<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="form-control del-yeast" style="width: 15%; display: inline" required>
			</div>
	</div>

<table style="width: 100%">
<tr><td style="width: 50%"><h2>Create a Recipe</h2></td style="width: 50%"><td><a href="/uploadrecipe"><h2>Upload a Recipe</h2></a></td></tr>

</table>

<div class="form-group">
<form class="form">
<table cellspacing="10px">
	<div id="recipeinput-basic">
	<tr>
		<td colspan="2">
			Recipe name
			<div id="name"><input type="text" name="name" class="form-control" required></div>
			
		</td>
		<td colspan="2">
			Source
			<div id="source"><input type="text" id="source" name="source" class="form-control" required></div>
		</td>
	</tr>
	<tr>
		<td colspan="4">
		<div id="nameWarning" class="bg-danger"></div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<p>Style
			<div id="style"><select name="style" class="form-control" required>
					<option selected disabled>Select a style</option>
					{% for style in selectlist_styles %}
					<option value="{{ style }}">{{ style }}</option>
					{% endfor %}
			</select></div>
		</td>
		<td>
			Share this recipe?
			<div id="share"><select name="share" class="form-control" required>
				<option value="yes">Yes</option>
				<option value="no">No</option>
				</select></div>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			Batch Size: 
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<div id="batch_size"><input type="number" id="batch_size" name="batch_size" class="form-control" required></div>
		</td>
		<td>
			<div id="units"><select id="units" name="units" class="form-control" required>
					<option selected disabled>units</option>
					<option value="grams">g</option>
					<option value="ounces">L</option>
			</select></div></td>
		</td>
		<td>
		</td>
	</tr>
	</div>
	<tr>
		<td colspan="4">
		<br>Grains:<br>
		<div id="moregrains1" class="repeat-grain" name="graindiv">
			<select id="grain" name="grain" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Grain</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id = "grain_amount" name="grain_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="grain_units" name="grain_units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<input type="button" id="del-grain" class="form-control del-grain" value="Remove grain" style="width: 15%; display: inline">
		</div>
		<button type="button" id="add-grain" value="Add a grain" class="form-control" style="width: 20%; display: inline">Add a grain</button>
		
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Extracts:<br>
			<div id="moreextract1" class="repeat-extract" name="extractdiv">
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Extract</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" id="extract_amount" name="extract_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id="extract_units" name="extract_units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<input type="button" id="del-extract" value="Remove extract" class="form-control del-extract" style="width: 15%; display: inline">
			</div>
			<button type="button" id="add-extract" value="Add extract" class="form-control" style="width: 20%" required>Add extract</button>	
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Hops:<br>
			<div id="morehops1" class="repeat-hops">
			<select id="hop" name="hop" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Hops</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" id="hop_amount" name="hop_amount" class="form-control" placeholder="amount"  style="width: 20%; display: inline" required>
			<select id= "hop_units" name="hop-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select id ="hop_phase" name="hop_phase" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" id="hop_time" name="hop_time" class="form-control" placeholder="time in boil" style="width: 20%; display: inline" required>
			<select id="hop_kind" name="hop_kind" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>purpose</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
			<input type="button" id= "del-hop" name="1" value="Remove hop" class="form-control del-hop" style="width: 15%; display: inline">
			</div>
			<button type="button" id="add-hop" value="Add a hop" class="form-control" style="width: 20%">Add hops</button>
		</td>
	</tr>
	<tr>
		<td colspan="4"><br>Special Additions:<br>
			<div id="moremisc1" class="repeat-misc">
			<select id="misc" name="misc" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Special item</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" id="misc_amount" name="misc_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" required>
			<select id=="misc-units" name="misc-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="misc_phase" name="misc_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" id="misc_time" name="misc_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline" required>
			<input type="button" id= "del-misc" name="1" value="Remove special" class="form-control del-misc" style="width: 15%; display: inline">	
			</div>
			<button type="button" id="add-misc" value="Add misc" class="form-control" style="width: 20%">Add special</button>
		</td>
	</tr>			
	<tr>
		<td colspan="4"><br>Yeasts/Bacteria:<br>		
			<div id="moreyeast1" class="repeat-yeast">
			<select id="yeast" name="yeast" class="form-control" style="width: 40%; display: inline" required>
				<option selected disabled>Yeast/Bacteria</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 20%; display: inline" style="width: 20%; display: inline" required>
			<select name="yeast-units" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select id="yeast_phase" name="yeast_phase" class="form-control" style="width: 20%; display: inline" required>
				<option selected disabled>phase</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			<input type="button" id= "del-yeast" name="1" value="Remove yeast" class="form-control del-yeast" style="width: 15%; display: inline">
			</div>
			<button type="button" id="add-yeast" value="Add a yeast" class="form-control" style="width: 20%">Add yeast</button>

		</td>
	</tr>


	<tr>
		<td colspan="4"><br>
		Notes/Instructions:<br>
		<p><div id="notes"><textarea name="note" rows="10" cols="50"></textarea></div></p>
		</td>
	</tr>
	<tr colspan="4">
		<td><p><input type="button"  value="submit" id="submit" class="form-control" ></p>
		</td>
	</tr>
	<!-- </form> -->
	</table>

				



{% endblock %}