{% extends 'base.html' %}
{% block content %}
<script src="../static/recipeform.js">


</script>
<h2>Create a Recipe</h2>

<div class="form-group">
<form action="/addrecipe" method="POST" role="form">
<table cellspacing="10px">
	<tr>
		<td colspan="2">
			Recipe name
			<input type="text" name="name" class="form-control" >
		</td>
		<td colspan="2">
			Source
			<input type="text" name="source" class="form-control" >
		</td>
	<tr>
		<td colspan="3">
			<p>Style
			<select name="style" class="form-control" >
					<option selected disabled>Select a style</option>
					{% for style in selectlist_styles %}
					<option value="{{ style }}">{{ style }}</option>
					{% endfor %}
			</select>
		</td>
		<td>
			Share this recipe?
			<select name="share" class="form-control">
				<option value="yes">Yes</option>
				<option value="no">No</option>
				</select>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			Batch Size: 
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<p><input type="number" name="batch_size" class="form-control">
		</td>
		<td>
			<select name="units" class="form-control" >
					<option selected disabled>units</option>
					<option value="grams">g</option>
					<option value="ounces">L</option>
			</select>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td colspan="4">
		<br>Grains:<br>
		<div id="moregrains1" class="repeat-grain">
			<select id="grain1" name="grain1" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>Grain</option>
				{% for grain in grain_choice %}
				<option value="{{ grain }}">{{ grain }}</option>
				{% endfor %}
			</select>
			<input type="number" id = "grain_amount1" name="grain_amount1" class="form-control" placeholder="amount" style="width: 25%; display: inline">
			<select id="grain_units1" name="grain_units1" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
		</div>
		<button type="button" id="add-grain" value="Add a grain" class="form-control" style="width: 20%">Add a grain</button>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Extracts:<br>
			<div id="moreextract1" class="repeat-extract">
			<select id="extract" name="extract" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>Extract</option>
				{% for extract in extract_choice %}
				<option value="{{ extract }}">{{ extract }}</option>
				{% endfor %}
			</select>
			<input type="number" name="extract_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline">
			<select name="extract-units" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			</div>
			<button type="button" id="add-extract" value="Add extract" class="form-control" style="width: 20%">Add extract</button>	
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<br>Hops:<br>
			<div id="morehops1" class="repeat-hops">
			<select id="hop1" name="hop1" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>Hops</option>
				{% for hop in hop_choice %}
				<option value="{{ hop }}">{{ hop }}</option>
				{% endfor %}
			</select>
			<input type="number" name="hop_amount" class="form-control" placeholder="amount"  style="width: 25%; display: inline">
			<select name="hop-units" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select><br>
			<select name="hop_phase" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="dry_hop">dry_hop</option>
			</select>
			<input type="number" name="hop_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline">
			<select name="hop_kind" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>purpose</option>
				<option value="aroma">aroma</option>
				<option value="bittering">bittering</option>
				<option value="both">both</option>
			</select>
			</div>
			<button type="button" id="add-hop" value="Add a hop" class="form-control" style="width: 20%">Add hops</button>
		</td>
	</tr>
	<tr>
		<td colspan="4"><br>Special Additions:<br>
			<div id="morespecial1" class="repeat-special">
			<select id="misc1" name="misc1" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>Special item</option>
				{% for misc in misc_choice %}
				<option value="{{ misc }}">{{ misc }}</option>
				{% endfor %}
			</select>
			<input type="number" name="misc_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline">
			<select name="misc-units" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<select name="misc_phase" class="form-control" style="width: 20%; display: inline">
				<option selected disabled>phase</option>
				<option value="boil">boil</option>
				<option value="primary">primary</option>
				<option value="secondary">secondary</option>
			</select>
			<input type="number" name="misc_time" class="form-control" placeholder="time in boil" style="width: 25%; display: inline">
			</div>
			<button type="button" id="add-misc" value="Add misc" class="form-control" style="width: 20%">Add special</button>
		</td>
	</tr>			
	<tr>
		<td colspan="4"><br>Yeasts/Bacteria:<br>		
			<div id="moreyeast1" class="repeat-yeast">
			<select id="yeast1" name="yeast1" class="form-control" style="width: 40%; display: inline">
				<option selected disabled>Yeast/Bacteria</option>
				{% for yeast in yeast_choice %}
				<option value="{{ yeast }}">{{ yeast }}</option>
				{% endfor %}
			</select>
			<input type="number" name="yeast_amount" class="form-control" placeholder="amount" style="width: 25%; display: inline" style="width: 20%; display: inline">
			<select name="yeast-units" class="form-control" style="width: 20%; display: inline" >
				<option selected disabled>units</option>
				<option value="grams">g</option>
				<option value="ounces">oz</option>
			</select>
			<button type="button" id="add-yeast" value="Add a yeast" class="form-control" style="width: 20%">Add yeast</button>

		</td>
	</tr>


	<tr>
		<td colspan="4"><br>
		Notes/Instructions:<br>
		<p><textarea name="textarea" rows="10" cols="50"></textarea></p>
		</td>
	</tr>
	<tr colspan="4">
		<td><p><input type="submit" value="submit" class="form-control" ></p>
		</td>
	</tr>
	</table>

				



{% endblock %}