{% extends 'base.html' %}
{% block content %}
<div class="row" style="background-color: white;">
<div class="col-1">
</div>
<div class="col-10 maincontent">
<h2>Register</h2>
			    {% with messages = get_flashed_messages() %}
		            {% if messages %}
		                <div class="flashes">
		                {% for message in messages %}
		                    <p>{{ message }} </p><br>
		                {% endfor %}
		                </div>
		            {% endif %}
	        	{% endwith %}
<p>Let's brew some beer! Register to keep track of your recipes and your brew notes.</p>

<table>
	<tr>
		<td>
			<form method="post" name="register" id="register" action="/register">
				<label for='fullname'>First Name: </label><br>
				<input type="text" name="fname" >
			</p>
		    <p>
			<label for='lastname'>Last Name: </label><br>
				<input type="text" name="lname" >
			</p>
			<p>
				<label for='email'>Email Address:</label><br>
				<input type="text" name="email" >
			</p>
		    <p>
				<label for='phone'>Username:</label><br>
				<input type="text" name="username">
			</p>    
			<p>
				<label for="password">Select a password:</label><br>
				<input type="password" name="password" id="password">
			</p>
			   
			<input type="submit" name='submit' value="Submit" class="btn btn-default">
			</form>

		</td>
	</tr>
</table>
</div>
<div class="col-1">
</div>
{% endblock %}

{% block extra_scripts %}
<script>
$(function()
{
    $("#register").validate(
      {
        rules: 
        {
          fname: 
          {
            required: true
          },
          lname: 
          {
            required: true
          },
          username:
          {
          	required: true
          },
          email: 
          {
            required: true,
            email: true
          },
          password: 
          {
          	required: true,
            minlength: 4
          }
        },
        messages: 
        {
          fname: 
          {
            required: "Please enter your name"
          },
          lname:
          {
          	required: "Please enter last name"
          },
          username:
          {
          	required: "Please enter a username"
          },
          email: 
          {
            required: "Please enter your email address."
          },
          password: 
          {
            minlength: jQuery.format("Password must be at least {0} characters")
          }
        }
      });	
});

	</script>
{% endblock %}