{% extends 'base.html' %}
{% block content %}
<div class="beercolor">
<div class="row">
	<div class="col-sm-1 col-md-2">
	</div>

	<div class="col-sm-10 col-md-8 maincontent">
		<table style="width: 100%">
			<tr>
				<td style="width: 50%"><a href="/addrecipe"><h2>Create a Recipe</h2></a>
				</td style="width: 50%"><td><h2> Upload a Recipe</h2></td>
			</tr>
		</table>
		<br>
		<p>Have recipes from another brew app? Upload recipes in beerxml format here. </p>
		<table style="width: 100%">
			<tr>
				<td style="width: 40%; padding: 20px">
				<form action="/uploadrecipe" method="post" enctype="multipart/form-data">

				<p>Upload recipes:</p>
					<input type="file" id="file-input1" name="file-input1" class="form-control">
					<input type="file" id="file-input2" name="file-input2" class="form-control">
					<input type="file" id="file-input3" name="file-input3" class="form-control">
					<input type="file" id="file-input4" name="file-input4" class="form-control">
					<input type="file" id="file-input5" name="file-input5" class="form-control">
					<p>Would you like to share these recipes? 
					<select name="share" id="share" class="form-control" style="display: inline; width: 50%">
							<option value="yes">Yes</option>
							<option value="no">No</option>
					</select></p>
					<input type="submit" value="Submit" class="form-control">
				</form>
				</td>
				<td  valign="top" style="width: 50%; padding: 20px;">
					<div>
					{% if notice %}
						<p><strong>{{ notice }}</strong></p>
					{% endif %}
					{% if recipes %}
						{% for recipe in recipes %}
							{{ recipe }} <a href="/recipe/{{recipe}}"><button type="button" class="form-control" value="view_recipe" style="width: 150px" display="inline">View Recipe</button></a><br>
						{% endfor %}
					{% endif %}
						</p>
					</div>
				</td>
			</tr>
		</table>
{% endblock %}

{% block extra_script %}
<script>
$("#text-input").change(function(){
	$("#filename").text()
});
</script>
{% endblock %}
